### Khai báo thư viện

In [1]:
import pandas as pd
from sklearn import tree
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression

### Đọc dữ liệu

In [2]:
df = pd.read_csv('../Data/bank_data.csv')

### Hiểu dữ liệu

In [3]:
df.head(5) # Xem 5 dòng đầu

,ID,age,sex,region,income,married,children,car,save_act,current_act,mortgage,pep
0,1,48,FEMALE,INNER_CITY,17546.0,NO,1,NO,NO,NO,NO,YES
1,2,40,MALE,TOWN,30085.1,YES,3,YES,NO,YES,YES,NO
2,3,51,FEMALE,INNER_CITY,16575.4,YES,0,YES,YES,YES,NO,NO
3,4,23,FEMALE,TOWN,20375.4,YES,3,NO,NO,YES,NO,NO
4,5,57,FEMALE,RURAL,50576.3,YES,0,NO,YES,NO,NO,NO

In [4]:
df.tail(5) # Xem 5 dòng cuối

,ID,age,sex,region,income,married,children,car,save_act,current_act,mortgage,pep
595,596,61,FEMALE,INNER_CITY,47025.00,NO,2,YES,YES,YES,YES,NO
596,597,30,FEMALE,INNER_CITY,9672.25,YES,0,YES,YES,YES,NO,NO
597,598,31,FEMALE,TOWN,15976.30,YES,0,YES,YES,NO,NO,YES
598,599,29,MALE,INNER_CITY,14711.80,YES,0,NO,YES,NO,YES,NO
599,600,38,MALE,TOWN,26671.60,NO,0,YES,NO,YES,YES,YES

In [5]:
# Hiển thị kiểu dữ liệu
df.dtypes

ID               int64
age              int64
sex             object
region          object
income         float64
married         object
children         int64
car             object
save_act        object
current_act     object
mortgage        object
pep             object
dtype: object

In [6]:
# Đổi dữ liệu từ định danh (object) về dạng số
from sklearn.preprocessing import LabelEncoder
lb_make = LabelEncoder()
df['sex'] = lb_make.fit_transform(df['sex'])
df['region'] = lb_make.fit_transform(df['region'])
df['married'] = lb_make.fit_transform(df['married'])
df['car'] = lb_make.fit_transform(df['car'])
df['save_act'] = lb_make.fit_transform(df['save_act'])
df['current_act'] = lb_make.fit_transform(df['current_act'])
df['mortgage'] = lb_make.fit_transform(df['mortgage'])
df['pep'] = lb_make.fit_transform(df['pep'])
df.head(10) # Kiểm tra lại 10 dòng dữ liệu đầu

,ID,age,sex,region,income,married,children,car,save_act,current_act,mortgage,pep
0,1,48,0,0,17546.00,0,1,0,0,0,0,1
1,2,40,1,3,30085.10,1,3,1,0,1,1,0
2,3,51,0,0,16575.40,1,0,1,1,1,0,0
3,4,23,0,3,20375.40,1,3,0,0,1,0,0
4,5,57,0,1,50576.30,1,0,0,1,0,0,0
5,6,57,0,3,37869.60,1,2,0,1,1,0,1
6,7,22,1,1,8877.07,0,0,0,0,1,0,1
7,8,58,1,3,24946.60,1,0,1,1,1,0,0
8,9,37,0,2,25304.30,1,2,1,0,0,0,0
9,10,54,1,3,24212.10,1,2,1,1,1,0,0

In [7]:
# Xác định thuộc tính mô tả X và thuộc tính dự đoán Y
features = ['age','sex','region','income','married','children','car','save_act','current_act','mortgage']
target = ['pep']
X = df[features]
y = df[target]
print(X)
print(y)

     age  sex  region    income  married  children  car  save_act  \
0     48    0       0  17546.00        0         1    0         0
1     40    1       3  30085.10        1         3    1         0
2     51    0       0  16575.40        1         0    1         1
3     23    0       3  20375.40        1         3    0         0
4     57    0       1  50576.30        1         0    0         1
..   ...  ...     ...       ...      ...       ...  ...       ...
595   61    0       0  47025.00        0         2    1         1
596   30    0       0   9672.25        1         0    1         1
597   31    0       3  15976.30        1         0    1         1
598   29    1       0  14711.80        1         0    0         1
599   38    1       3  26671.60        0         0    1         0

     current_act  mortgage
0              0         0
1              1         1
2              1         0
3              1         0
4              0         0
..           ...       ...
595            1         1
596            1         0
597            0         0
598            0         1
599            1         1

[600 rows x 10 columns]
     pep
0      1
1      0
2      0
3      0
4      0
..   ...
595    0
596    0
597    1
598    0
599    1

[600 rows x 1 columns]

In [8]:
# Chia bộ dữ liệu thành tập train và test, random_state mặc định = 0 (lấy linh tinh)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print(X_train)
print(y_train)
print(X_test)
print(y_test)

     age  sex  region   income  married  children  car  save_act  current_act  \
581   20    1       3  12644.9        1         2    1         0            1
336   39    1       0  26900.6        1         2    0         0            0
86    25    0       0  15525.0        1         0    0         1            1
511   44    1       0  16088.8        1         3    0         1            1
158   60    0       3  21506.2        1         0    0         0            1
..   ...  ...     ...      ...      ...       ...  ...       ...          ...
364   56    0       3  51299.3        1         1    1         1            0
404   24    0       0  13864.6        1         3    0         1            1
76    45    0       3  26948.0        0         0    0         1            1
479   46    1       3  43395.5        0         1    1         1            1
317   45    0       3  37689.1        0         1    0         1            1

     mortgage
581         1
336         1
86          0
511         0
158         0
..        ...
364         0
404         0
76          1
479         0
317         1

[480 rows x 10 columns]
     pep
581    0
336    0
86     0
511    0
158    1
..   ...
364    1
404    1
76     0
479    1
317    1

[480 rows x 1 columns]
     age  sex  region   income  married  children  car  save_act  current_act  \
5     57    0       3  37869.6        1         2    0         1            1
78    30    0       0  14724.5        1         0    1         0            1
66    19    1       3  10861.0        0         2    0         1            1
154   41    1       1  23356.1        0         2    1         0            0
143   64    1       3  48974.8        1         0    1         1            1
..   ...  ...     ...      ...      ...       ...  ...       ...          ...
12    44    0       3  15735.8        1         1    0         1            1
10    66    0       3  59803.9        1         0    0         1            1
170   52    1       0  49175.7        1         0    1         1            1
27    39    0       3  20114.0        1         1    0         0            1
288   33    1       0  14136.5        1         1    0         1            0

     mortgage
5           0
78          0
66          0
154         0
143         1
..        ...
12          1
10          0
170         0
27          0
288         0

[120 rows x 10 columns]
     pep
5      1
78     0
66     0
154    0
143    0
..   ...
12     1
10     0
170    0
27     1
288    0

[120 rows x 1 columns]

In [9]:
# Khai báo mô hình cây quyết định
model = tree.DecisionTreeClassifier(criterion = 'entropy',
                                   random_state = 100,
                                   max_depth = 7,
                                   min_samples_leaf = 5)

In [10]:
# Thực thi mô hình
model = model.fit(X_train, y_train)

### Xác định độ chính xác mô hình

In [11]:
# Kiểm thử mô hình
y_pred = model.predict(X_test)
print("Giá trị nhãn mô hình dự đoán được: \n", y_pred)

Giá trị nhãn mô hình dự đoán được:
 [1 0 0 0 0 1 1 1 0 0 1 0 0 0 1 0 1 0 1 1 0 0 0 0 1 0 0 1 1 1 1 1 1 0 0 1 1
 0 0 1 1 0 1 1 0 0 0 1 1 1 1 1 0 1 1 1 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 1 0 0 0 1 0 1 0 1 1 1 1 0 0 1 0 0 1 0 1 1 0 0 1 1 0 0 0 1 0 0 1 0
 0 1 1 0 0 1 0 1 0]

In [12]:
# Xác định ma trận nhầm lẫn
print("Confusion Matrix: \n", confusion_matrix(y_test, y_pred))

Confusion Matrix:
 [[56  8]
 [10 46]]

In [13]:
# Độ chính xác của mô hình
print("Độ chính xác: ", accuracy_score(y_test, y_pred)*100,'%')

Độ chính xác:  85.0 %

In [14]:
# Sử dụng mô hình
x=[[42,1,3,30527,1,2,1,1,0,1]]
y=model.predict(x)
if y==1:
    print("Khách trả nợ được")
else:
    print("Khách không trả nợ")

Khách trả nợ được

E:\anaconda3\envs\dami\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

### Bài tập
Dự đoán tuổi của khách hàng dựa vào giới tính, khu vực, thu nhập, số con & khả năng trả nợ

In [15]:
# Xác định thuộc tính mô tả X và thuộc tính dự đoán Y
features = ['sex','region','income','children','pep']
target = ['age']
X = df[features]
y = df[target]
print(X)
print(y)

     sex  region    income  children  pep
0      0       0  17546.00         1    1
1      1       3  30085.10         3    0
2      0       0  16575.40         0    0
3      0       3  20375.40         3    0
4      0       1  50576.30         0    0
..   ...     ...       ...       ...  ...
595    0       0  47025.00         2    0
596    0       0   9672.25         0    0
597    0       3  15976.30         0    1
598    1       0  14711.80         0    0
599    1       3  26671.60         0    1

[600 rows x 5 columns]
     age
0     48
1     40
2     51
3     23
4     57
..   ...
595   61
596   30
597   31
598   29
599   38

[600 rows x 1 columns]

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1)
print(X_train)
print(y_train)
print(X_test)
print(y_test)

     sex  region   income  children  pep
425    0       1  30488.7         0    0
261    0       3  28882.3         1    1
9      1       3  24212.1         2    0
298    0       0  17139.5         2    0
461    0       2  24554.1         0    0
..   ...     ...      ...       ...  ...
335    1       3  26688.1         1    1
144    1       0  18923.0         1    1
305    0       1  11520.8         0    0
351    1       3  24424.3         0    0
341    1       1  48346.1         1    1

[540 rows x 5 columns]
     age
425   44
261   40
9     54
298   47
461   64
..   ...
335   44
144   25
305   35
351   38
341   66

[540 rows x 1 columns]
     sex  region    income  children  pep
136    0       0  14048.90         2    0
519    0       0  28981.10         3    0
301    0       3  15349.60         0    0
71     1       0   8062.73         0    1
535    1       0  10072.60         0    0
108    1       0  12681.90         0    1
492    0       3  27756.30         0    1
119    0       1  45765.00         3    1
344    1       1  23638.10         2    0
518    0       3  22007.10         3    0
24     1       0  12640.30         2    0
179    1       0  36086.10         2    1
200    1       3  26077.80         1    1
321    1       1  22882.90         0    1
499    0       3  18912.20         0    1
279    1       3  36972.40         1    1
581    1       3  12644.90         2    0
473    0       3  27757.60         0    1
480    1       1  11536.20         2    0
99     0       1  15348.90         0    0
414    0       2  46461.50         0    0
18     0       0  26909.20         0    1
400    0       1  19481.30         0    1
272    1       3  13236.40         0    0
446    0       3  43719.50         0    0
375    1       0  20866.30         0    0
296    0       1  24583.40         2    0
387    1       0  30157.70         1    1
103    1       3  33088.50         0    0
187    0       3  34410.00         1    1
216    0       2  15156.20         0    0
380    0       3  26542.80         0    1
249    1       3  21332.30         3    0
391    1       3  22197.10         0    1
525    0       0  19326.90         1    1
331    0       0  11601.40         2    0
399    1       3  38059.80         0    0
495    1       0  38459.90         0    1
419    1       3  21612.60         0    0
35     0       0  19868.00         2    0
368    1       3  11281.50         0    0
434    1       0  23038.20         0    0
570    0       1  33665.50         3    0
267    0       2  30396.10         0    1
458    1       2  13700.20         1    0
484    0       0  21184.70         1    1
20     1       0  57880.70         2    1
266    1       3  33229.00         0    1
309    0       0  11920.70         1    0
230    0       0  30189.40         0    1
156    1       3  26462.50         0    0
505    0       3  28658.30         0    0
332    0       3  29541.70         0    0
504    0       0  59805.60         1    1
373    0       0  28413.80         0    0
474    0       3  22678.10         1    1
124    1       1  45031.90         3    1
217    0       0  31774.10         3    0
120    1       1  29525.50         2    0
488    0       3  14014.50         3    0
     age
136   20
519   56
301   37
71    21
535   29
108   23
492   61
119   64
344   34
518   27
24    22
179   63
200   46
321   35
499   46
279   40
581   20
473   41
480   30
99    18
414   58
18    62
400   34
272   36
446   52
375   41
296   54
387   61
103   43
187   48
216   27
380   56
249   36
391   40
525   43
331   18
399   43
495   44
419   57
35    27
368   21
434   47
570   49
267   48
458   18
484   28
20    61
266   58
309   28
230   59
156   50
505   35
332   33
504   63
373   52
474   31
124   47
217   40
120   46
488   27

In [17]:
# Khai báo mô hình Hồi quy tuyến tính
model = LinearRegression()

In [18]:
# Thực thi mô hình
model = model.fit(X_train, y_train)

In [29]:
print("Mô hình hồi quy sẽ có dạng:")
print("age = a0 + a1*sex + a2*region + a3*income + a4*children + a5*pep")
print("Với các hệ số lần lượt là:")
print(model.intercept_)
print(model.coef_)

Mô hình hồi quy sẽ có dạng:
age = a0 + a1*sex + a2*region + a3*income + a4*children + a5*pep
Với các hệ số lần lượt là:
[20.27806495]
[[-2.20696919e+00  1.17472016e-01  8.35331216e-04  1.25175331e-01
  -8.77738088e-02]]

In [20]:
# Kiểm thử mô hình
y_pred = model.predict(X_test)
print(y_pred)

[[32.26390033]
 [44.86240844]
 [33.45248103]
 [24.718372  ]
 [26.48505296]
 [28.57690889]
 [43.72841102]
 [58.91222225]
 [38.18456125]
 [39.38922459]
 [28.88028359]
 [48.3775184 ]
 [40.24451371]
 [37.21559464]
 [36.34065821]
 [49.34511317]
 [29.23654216]
 [43.72949695]
 [28.07546641]
 [33.21695227]
 [59.32375027]
 [42.6683859 ]
 [36.58110117]
 [29.48028991]
 [57.15074409]
 [35.50136751]
 [41.18116904]
 [43.30016549]
 [46.06336874]
 [49.41162966]
 [33.17345596]
 [42.71473659]
 [36.61857389]
 [36.87766853]
 [36.45982935]
 [30.21942718]
 [50.21605081]
 [50.11007698]
 [36.47719124]
 [37.12477621]
 [27.84730091]
 [37.31562337]
 [48.89290601]
 [45.81604635]
 [29.87541984]
 [38.01170768]
 [66.58322812]
 [46.09295897]
 [30.36097311]
 [45.40843935]
 [40.5284641 ]
 [44.56965358]
 [45.30758518]
 [70.27295104]
 [44.01299905]
 [39.61160737]
 [56.09287174]
 [47.19548853]
 [43.10249025]
 [32.71275632]]

In [21]:
# Độ chính xác của mô hình
f = model.score(X_test, y_test)
print(f)

0.5499486806363123

In [27]:
# Sử dụng mô hình
# sex  region    income  children  pep
x = [[1, 3, 30333.9, 3, 1]]
y = model.predict(x)
print("Tuổi của khách hàng là:", y)

Tuổi của khách hàng là: [[44.05011756]]

E:\anaconda3\envs\dami\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

### Bài tập về nhà
1, Xây dựng mô hình dự đoán thu nhập của các khách hàng ở thành phố\
2, Xây dựng mô hình dự đoán giới tính của các khách hàng có khả năng trả nợ dựa vào thuộc tính tuổi, thu nhập, số con, tài khoản TK, tài khoản TT\
3, Tuần sau nữa kiểm tra 1 (kể từ 4/10)